@{
    ViewData["Title"] = "Dados";
}
<div class="wrapper">
    <div class="sidebar" data="blue">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
        -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-mini">
                    TO
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-normal">
                    Turtle Project
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="tim-icons icon-bulb-63"></i>
                        <p>O Projeto</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Impacto">
                        <i class="tim-icons icon-shape-star"></i>
                        <p>Impacto</p>
                    </a>
                </li>
                <li class="active ">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dados">
                        <i class="tim-icons icon-check-2"></i>
                        <p>Dados</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Investimento">
                        <i class="tim-icons icon-coins"></i>
                        <p>Investimento</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Custos">
                        <i class="tim-icons icon-money-coins"></i>
                        <p>Custos</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" data="blue">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle d-inline">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Dados">Dados</a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="search-bar input-group">
                            <!-- TODO -->
                        </li>

                        <li class="separator d-lg-none"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar -->
        <div class="content">



            <div class="row">

                <div class="col-md-12">
                    <div class="card mb-3">
                        <img class="card-img-top" src="../assets/img/tunnel.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Túneis</h2>
                            <p class="card-text">
                                Há duas razões que impulsionam o desenvolvimento de túneis: o crescimento desenfreado de tráfego individual e o aumento exponencial da gestão e comércio de bens, que pretende chegar, tão rápido e tão facilmente quanto possível, todos os cantos do mundo. A necessidade contínua de "ir mais, mais rápido e mais longe" é claramente refletida na extensão da rede de tráfego. Criam-se as vias de circulação exigidas, que economizam tempo e custos, que são seguras e onde os obstáculos foram removidos o mais possível.
                                As equipas para as estruturas de túneis são geralmente constituídas por geólogos, geodesistas, especialistas em terraplenagem, engenharia de solo e construção de estradas, organização e tecnologia de betão, bem como organizadores de transporte e segurança operacional.
                                Os principais critérios para a selecção do tipo de construção e da estrutura de suporte de carga são as secções transversais do túnel e os seus comprimentos. Além disso, existem curvas relacionados com objectos e inclinações ao longo do túnel, bem como as geometrias diferentes em largura e altura que têm de ser considerados. Essas mudanças na secção transversal são necessários para a integração do parque e de paragens de emergência, fuga e de acesso às galerias ou construções que ligam os túneis adjacentes uns com os outros ou que levam à superfície.
                                Visando otimizar a resistência da estrutura contra a pressão realizada (calculando em uma profundidade de 100m abaixo do nível do mar), o projeto será constituído de aço e concreto. O uso de máquinas tuneladoras não será uma opção viável devido ao solo instável, o qual pode favorecer o uso de mão-de-obra humana e explosões controladas quando lidamos com terrenos propensos à terremotos.
                                Priorizar rotas iniciais conectando a América central à América do Sul, tendo posteriormente a extensão para o oriente via acesso aos estreitos entre Alaska - Rússia e acessando a Coreia e futuramente Japão, Rússia e China.
                            </p>
                        </div>
                    </div>
                </div>




                <div class="col-md-8">
                    <div class="card card-nav-tabs">
                        <h2 class="card-header card-header-info">Relação de Exportações / Transportações Brasileiras</h2>
                        <div class="card-body">
                            <p class="card-text">
                                Os principais países de destino das exportações brasileiras em 2019 foram China, Hong Kong e Macau (US$ 65,389 bilhões);<br /> Estados Unidos (US$ 29,556 bilhões);<br /> Países Baixos (US$ 10,100 bilhões);<br /> Argentina (US$ 9,714 bilhões);<br /> Japão (US$ 5,410 bilhões). Por mercados compradores, cresceram as vendas para Oceania (+12,8%), Oriente Médio (+9,1%) e Estados Unidos (+1,8%).
                                houve redução nas compras de América Central e Caribe (-33,3%), África (-16,6%), Oceania (-14,8%), União Europeia (-5,2%), Mercosul (-4,1%), Oriente Médio (-3%) e Ásia (-1,4%). Por outro lado, aumentaram as importações originárias dos Estados Unidos (+2,6%).
                                Os principais países de origem das importações foram China, Hong Kong e Macau (US$ 35,881 bilhões), Estados Unidos (US$ 30,086 bilhões), Argentina (US$ 10,552 bilhões), Alemanha (US$ 10,281 bilhões) e Coreia do Sul (US$ 4,706 bilhões).
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card card-nav-tabs">
                        <h2 class="card-header card-header-info">Relação de Importações dentro da América Latina</h2>
                        <div class="card-body">
                            <p class="card-text">América Central - Brasil: As exportações para a América Central em algo entre US$ 500 milhões e US$ 1 bilhão, dos quais uma parte seria re-exportado não só para os EUA, mas para outros países menores do Caribe. As exportações para a América Central somam atualmente menos de US$ 2 bilhões por ano.</p>
                        </div>
                    </div>
                </div>

            </div>








        </div>
        <footer class="footer">
            <div class="container-fluid">
                <ul class="nav">
                    <li class="nav-item">
                        <a target="_blank" href="https://covid19.spaceappschallenge.org/" class="nav-link">
                            NASA Space Apps - COVID-19 Challenge
                        </a>
                    </li>
                </ul>
                <div class="copyright">
                    <a asp-area="" asp-controller="Home" asp-action="Equipe" class="nav-link"> © 2020 Feito com o <i class="tim-icons icon-heart-2"></i> pela equipe 197 - Overdrive.</a>
                </div>
            </div>
        </footer>
    </div>
</div>
