@{
    ViewData["Title"] = "Investimento";
}
<div class="wrapper">
    <div class="sidebar" data="blue">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
        -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-mini">
                    TO
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-normal">
                    Turtle Project
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="tim-icons icon-bulb-63"></i>
                        <p>O Projeto</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Impacto">
                        <i class="tim-icons icon-shape-star"></i>
                        <p>Impacto</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dados">
                        <i class="tim-icons icon-check-2"></i>
                        <p>Dados</p>
                    </a>
                </li>
                <li class="active ">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Investimento">
                        <i class="tim-icons icon-coins"></i>
                        <p>Investimento</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Custos">
                        <i class="tim-icons icon-money-coins"></i>
                        <p>Custos</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" data="blue">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle d-inline">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Investimento">Investimento</a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="search-bar input-group">
                            <!-- TODO -->
                        </li>

                        <li class="separator d-lg-none"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar -->
        <div class="content">

            <div class="card">
                <div class="card-body">


                    <canvas id="myChart" width="1600" height="900"></canvas>



                </div>
            </div>

        </div>
        <footer class="footer">
            <div class="container-fluid">
                <ul class="nav">
                    <li class="nav-item">
                        <a target="_blank" href="https://covid19.spaceappschallenge.org/" class="nav-link">
                            NASA Space Apps - COVID-19 Challenge
                        </a>
                    </li>
                </ul>
                <div class="copyright">
                    <a asp-area="" asp-controller="Home" asp-action="Equipe" class="nav-link"> © 2020 Feito com o <i class="tim-icons icon-heart-2"></i> pela equipe 197 - Overdrive.</a>
                </div>
            </div>
        </footer>
    </div>
</div>
