<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b1560e15-67b4-4e8c-bb2f-f795ae83272b/resourceGroups/cloud-app/providers/Microsoft.Web/sites/TurtleOverdrive</ResourceId>
    <ResourceGroup>cloud-app</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://turtleoverdrive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>turtleoverdrive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TurtleOverdrive</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TurtleOverdrive</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>